h1 {font-family: 'Galada', cursive;
    font-size: 80px;
    color: #FFFFFF;
    background-color: transparent;
}
h2 {font-family: 'Galada', cursive;
    font-size: 60px;
    color: #FFFFFF;
    background-color: transparent;
}
html {
    background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-ipad-wallpaper-21.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-color: transparent;
}
